---
import type { Polymorphic } from "astro/types";

type Tag = "a" | "button" | "span";

type Props<TagGeneric extends Tag> = {
  tag: TagGeneric;
  variant?: "link" | "secondary" | "tertiary";
  size?: "sm" | "lg";
  hasChevron?: boolean;
  disabled?: boolean;
  classList?: string[];
} & Polymorphic<{ as: TagGeneric }>;

const {
  tag: Tag,
  variant = null,
  size = null,
  hasChevron = false,
  disabled = false,
  classList = [],
  href,
  type = "button",
  ...rest
} = Astro.props;

const baseAttributes = {
  classes: [
    "btn",
    variant ? `btn--${variant}` : "",
    size ? `btn--${size}` : "",
    disabled ? `btn--disabled` : "",
    ...classList,
  ],
  ...rest,
};

const anchorAttributes = {
  href: href,
};

const buttonAttributes = {
  type: type,
};

const attributeBasedOnTag = Tag === "a" ? anchorAttributes : buttonAttributes;

const allAttributes = { ...baseAttributes, ...attributeBasedOnTag };

const { classes, ...attributes } = allAttributes;
---

<Tag class:list={[classes]} {...attributes}>
  <slot name="icon" />
  <slot />
  {
    hasChevron && (
      <span class="btn__chevron">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m9 18l6-6l-6-6"
          />
        </svg>
      </span>
    )
  }
</Tag>

<style lang="scss">
  .btn {
    font-family: var(--typography-font-family-primary);
    font-size: var(--typography-font-size-btn-default);
    letter-spacing: 0.03em;
    padding: var(--space-xxs) var(--space-md);
    border-radius: var(--border-radius-md);
    border-width: var(--border-width-md);
    border-style: solid;
    text-decoration-color: transparent;
    display: inline-flex;
    align-items: center;
    gap: var(--space-xxs);
    text-align: left;
    line-height: 1.6;
    transition:
      color var(--transition-duration-slow) ease,
      background var(--transition-duration-slow) ease,
      border var(--transition-duration-slow) ease;

    //default is primary
    background-color: var(--color-btn-primary-bg);
    color: var(--color-btn-primary-fg);
    border-color: var(--color-btn-primary-border);
    &.active,
    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--color-interaction-default);
    }

    &--link {
      background-color: transparent;
      color: var(--color-text-primary);
      border: var(--border-width-md) solid transparent;
      &.active,
      &:hover,
      &:focus {
        background-color: transparent;
        //color: var(--color-background);
      }
    }

    &--secondary {
      background-color: var(--color-btn-secondary-bg);
      color: var(--color-btn-secondary-fg);
      border-color: var(--color-btn-secondary-border);
      &.active,
      &:hover,
      &:focus {
        background-color: var(--color-text-primary);
        color: var(--color-background);
      }
    }

    &--tertiary {
      background-color: var(--color-btn-tertiary-bg);
      color: var(--color-btn-tertiary-fg);
      border-color: var(--color-btn-tertiary-border);
      &.active,
      &:hover,
      &:focus {
        color: var(--color-text-primary);
      }
    }

    &--sm {
      padding: var(--space-xxxs) var(--space-xxs);
      font-size: var(--typography-font-size-btn-sm);
      letter-spacing: 0.03em;
      line-height: 1;
      min-height: 34px;
    }

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &__icon {
      align-self: start;
    }
    &__chevron {
      margin-left: auto;
      display: flex;
    }
  }
</style>
